<!DOCTYPE html>
<html lang="{{parent.languageCode}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../theme.css">

    {% if description %}
    <meta name="description" content="{{description}}">
    <meta property="og:description" content="{{description}}">
    {% endif %}

    <script src="../theme.js" defer></script>

    <meta property="og:title" content="{{title}}">
    <title>{{frontmatter.title}} | {{parent.title}}</title>
  </head>
  <body>
    <header>
      <nav class="navbar bg-body-tertiary" role="Site menu">
        <div class="container">
          <a class="navbar-brand" href="index.html">{{parent.title}}</a>

          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="settings-toggle-theme">
            <label class="form-check-label" for="settings-toggle-theme">
              Dark Mode
            </label>
          </div>
        </div>
      </nav>
    </header>

    <section class="offcanvas offcanvas-start" id="chapters-nav">
      <header class="offcanvas-header">
        <a href="index.html" class="h5 text-decoration-none offcanvas-title">
          {{parent.title}}
        </a>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </header>
      <nav class="offcanvas-body nav flex-column">
        {% for chapter in  parent.chapters %}
        <a href="{{chapter.id}}.html">{{chapter.frontmatter.title}}</a>
        {% endfor %}
      </nav>
    </section>

    <main class="container my-3">
      <article class="mkbk-theme-chapter-content">
        <header class="mb-4">
          <section class="d-flex justify-content-between">
            <h1 class="display-3">{{frontmatter.title}}</h1>
            <button data-bs-toggle="offcanvas"
                    data-bs-target="#chapters-nav"
                    class="btn btn-info align-self-center">
              Chapters
            </button>
          </section>
          <em class="fst-normal">{{frontmatter.description}}</em>
          <ul class="list-group">
            {% if frontmatter.date %}
            <li class="list-group-item">
              <strong>Published</strong> {{ frontmatter.date }}
            </li>
            {% endif %}
            {% if frontmatter.lastmod %}
            <li class="list-group-item">
              <strong>Last Updated</strong> {{ frontmatter.lastmod }}
            </li>
            {% endif %}
          </div>
        </header>
        {{ content | safe }}
      </section>
    </main>
  </body>
</html>
